<div class="vertical-nav vertical-nav-sm">

  <!-- Collapse menu starts -->
  <button class="collapse-menu">
    <i class="icon-menu2"></i>
  </button>
  <!-- Collapse menu ends -->

  <!-- Current user starts -->
  <div class="user-details clearfix">
    <a href="/admin-profile" class="user-img">
      <img src="img/thumbs/admin1.png" alt="User Info">
    </a>
    <h5 class="user-name"><%=  admin.nickname %> </h5>
  </div>
  <!-- Current user ends -->

  <!-- Sidebar menu starts -->
  <ul class="menu clearfix">
    <% navigate.forEach(item => { %>
      <li <% if (item.active) { %>class="active selected"<% } %>>
        <a href="<%= item.children.length > 0 ? '###' : item.path %>">
          <% if (item.iconClass !== '') { %>
            <i class="<%= item.iconClass %> "></i>
          <% } %>
          <span class="menu-item"><%= item.name %> </span>
        </a>
        <% if (item.children.length > 0) { %>
        <ul>
          <% item.children.forEach(val => { %>
            <li>
              <a href='<%= val.path %>' <% if (val.active) { %>class="current"<% } %>><%= val.name %></a>
            </li>
          <% }) %>
        </ul>
        <% } %>
      </li>
    <% }) %>
  </ul>
  <!-- Sidebar menu ends -->
</div>